name: Subsembly CLI tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - run: npm install -g yarn && yarn install
    - run: cd cli && npm install && npm run build && sudo npm link
    - run: cd cli/src/commands/spec/builder/test/json-files && ls
    - run: cd cli && npm run test